<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Fenglin</title>
    <link rel="stylesheet" href="{{ asset('vendor/weui/dist/style/weui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('resources/styles/main.css') }}"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('vendor/zepto/zepto.js') }}"></script>

</head>
<body ontouchstart>
    <div class="page">
        <div class="page__bd page__bd_spacing">
            <header id="searchBarContainer">

            </header>

            <script type="text/javascript" class="searchbar js_show">
                $(function(){

                });
            </script>

            <section id="contentContainer">

            </section>


            <div id="paginationContainer" class="pager mrg-b" style="text-align: center">

            </div>

            <div id="menuContainer" class="weui-footer weui-footer_fixed-bottom footer-group-button">

            </div>
        </div>
    </div>

    {% block javascripts %}
        {#<script src="http://45.79.93.5:8080/target/target-script-min.js#anonymous"></script>#}
        <script data-main="{{ asset('fenglin/config.js') }}" src="{{ asset('vendor/requirejs/require.js') }}"></script>
        {#<script src="{{ asset('vendor/zepto/zepto.js') }}"></script>#}
        {#<script src="{{ asset('vendor/jweixin-bower/jweixin-1.0.0.js') }}"></script>#}
        {#<script src="{{ asset('vendor/weui.js/dist/weui.js') }}"></script>#}

    {% endblock %}

    {% include 'fenglin/consumer/core/menu.html.twig' %}
    {% include 'fenglin/consumer/shopper/shopper_list.html.twig' %}
    {% include 'fenglin/consumer/shopper/shopper_detail.html.twig' %}
    {% include 'fenglin/consumer/consumer/member_id.html.twig' %}
    {% include 'fenglin/consumer/core/pagination.html.twig' %}
    {% include 'fenglin/consumer/refree/refree.html.twig' %}
    {% include 'fenglin/consumer/statement/statement_list.html.twig' %}
    {% include 'fenglin/consumer/core/search_bar.html.twig' %}
</body>
</html>