{% extends 'base_read_qr.html.twig' %}

{% block content %}
    <script type="text/javascript">
        (function ($) {
            $('document').ready(function(){
                var apikey = window.localStorage.getItem('apikey');
                {#alert('{{ shopperId }}');#}
                $.ajax({
                    url: Routing.generate('user_role_rest_load', {
                        apikey: apikey,
                        shopperId: {{ app.request.get('shopperId') }},
                        _locale: 'zh'
                    }),
                    success: function (data) {
                        //alert(data.role);
                        if (!apikey) {
                            //window.location = 'http://weixin.qq.com/q/02XBrmRUPHf3210000w03f';
                            window.localStorage.setItem('memberId', '{{ shopperId }}');
                        } else {
                            if (data['role'] == 'ROLE_CONSUMER' && data['issetShopper'] == 0) {
                                window.location = '/consumer?apikey=' + apikey + '#consumer/shopper/join-page/' + '{{ shopperId }}';
                            } else {
                                if (data['role'] == 'ROLE_CONSUMER' && data['issetShopper'] == 1) {
                                    window.location = '/consumer?apikey=' + apikey + '#consumer/shopper/detail/' + '{{ shopperId }}';
                                }

                                $('#middleQR').show();
                                alert('test');
                            }

                        }
                    },
                    error: function (error) {
                       // window.location = 'http://mp.weixin.qq.com/mp/profile_ext?action=home&__biz={{ biz }}#wechat_redirect';
                    }
                });
            });
        })($);


    </script>

    <div id="middleQR" class="page__bd page__bd_spacing" style="display: none">
        <div class="weui-flex">
            <div class="weui-flex__item"><div class="placeholder" style="text-align: center"><h4>您还没有加入{{ shopper.name }} 返利计划。请先关注枫林返利公众号号。</h4></div></div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item"><div class="placeholder" style="text-align: center"><h5><br>长按下方二维码关注</h5></div></div>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item"><div class="placeholder"></div></div>
            <div class="weui-flex__item"><div class="placeholder"><img src="{{ asset('oa_qr.jpg') }}" style="width: 90%"></div></div>
            <div class="weui-flex__item"><div class="placeholder"></div></div>
        </div>
    </div>
{% endblock %}